.app {
  background-image: linear-gradient(to right,#2c3e50 ,#181C25);
 
  text-align: center;
}

.app__nav{
 display: flex;
 justify-content: space-between;
 margin:20px ;
}
.app__nav >h3{

	background: linear-gradient(to right, grey 0%, #808992 100%);
    
    -webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
 }
 